* {
  margin: 0;
  padding: 0;
}

/* primary styles */
.text-center {
  text-align: center;
}
/* header section style */
header {
  padding: 50px 140px 0 140px;
}
.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.hero h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  color: white;
}
.hero h3 {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
}

/* main style */

main {
  padding: 0 140px;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.offer h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.offer h2 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer img {
  width: 800px;
  margin-bottom: 120px;
}
